/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

textarea.form-control {
  height: 150px;
}

.navbar-slogan {
  margin-left: 30px;
  margin-top: 25px;
  font-style: italic;
}

.navbar-logo {
  height: 43px;
}

p.author-category {
  text-transform: initial;
}