{{ template "_internal/google_analytics.html" . }}
<script src="//code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0/jquery.counterup.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-parallax/1.1.3/jquery-parallax.js"></script>

<script src="//cdn.jsdelivr.net/npm/vue"></script>
<script src="//00e9e64bac575e7f8ca1797b2dcc1b9ed2f098d1eb78d6d89b-apidata.googleusercontent.com/download/storage/v1/b/ton-js/o/msg.js?qk=AD5uMEscw0G4UEd4bhQwbwTlCeJ-N-5aXn_BtMCQjzCCpbfQ9C36Dy1qNPsTO_h6e0CMHxGzYQxZ_ks5ictSLs4w6hDTbTbnEWOTRK4q7EhiUMC1MoOC51DAIbFPDiigGWutZUWDjBF7EYFupylqxaen1kd8Kt8s7Gfk53RFglcbxtEV3H7nk_7LDko6dYIWCw5YlrtdY8N1CLA0IlX8499rya1xQTQzKP5Y8nc3w4s_jZrpf5iS-JQ6V3df1GfAL1tmUDvU-SZAR3EgygCVyE38rxOX-COu12CoqtCBn0StbifSp4fOXDBCWBbLXuRF6xQcTdfcCXYtF1T7crGMCOWJ3SwLZ3h-JkGVXTJxilWTA6atPH8UiT9ufmy4axdVEwXclkvAjYIZCjgaa_g1riiiKNcc1N_gC8IUL5DqQeM6W1uotu_13bWblrGSzIGV0OCRZkbcUWKBX1EObRlsg18BUzivChKQRKss4-Gx_09wc7CI2EecfvC6z1GIHpsx1CBxdJ5Kd8lz7KD2XdZfDE-rZXukhM_ED4Tq0IjKi1VvVulwMYHvif45miJnPp8O-4XC76wNMjPLvhqi57Mf9uxZ0b79q6ocpuO76UHgHa_Bp6AB2adKLpm01X2pv_5ja-GIixMdQj_98TWvtLiAw3SnPbtw1nbKHRXGFXusViW_-fFCvb2qaG2Eh-o076Li1r81vzHiufn-3D9vpTU5nFmQ4o-_0i562Y2mn4Ud8Txk7JLEosRPo1BJINLSyf-jg4fQDYH5qRys"></script>
{{ if .Site.Params.googleMapsApiKey }}
<script src="//maps.googleapis.com/maps/api/js?key={{.Site.Params.googleMapsApiKey}}&v=3.exp"></script>
{{ else }}
<script src="//maps.googleapis.com/maps/api/js?v=3.exp"></script>
{{ end }}
<script src="{{ .Site.BaseURL }}js/hpneo.gmaps.js"></script>
<script src="{{ .Site.BaseURL }}js/gmaps.init.js"></script>
<script src="{{ .Site.BaseURL }}js/front.js"></script>

<!-- owl carousel -->
<script src="{{ .Site.BaseURL }}js/owl.carousel.min.js"></script>
